html, body, div, th, td, li, dd, span, font, p, strong,
blockquote, h1, h2, h3, h4, h5, h6,
form, fieldset, input, label, select, button, textarea {
	font-family: 'Cutive Mono', 'Noto Sans KR', sans-serif;
	font-size: 12px;
	color: #2a3033;
}

pre, code {
	font-family: 'Cutive Mono', monospace;
	font-size: 11px;
}